<div>
  <p class="text-[#141414] text-base font-normal leading-normal pb-3 pt-1 px-4">
    Please search for the course that covers topics required as prerequisites for the selected course above.
  </p>
  <form class="flex max-w-[800px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <select id="yearSelect" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#141414] focus:outline-0 focus:ring-0 border border-[#dbdbdb] bg-neutral-50 focus:border-[#dbdbdb] h-14 bg-[image:--select-button-svg] placeholder:text-neutral-500 p-[15px] text-base font-normal leading-normal" disabled>
        <option value="">Select Year</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </label>
    <label class="flex flex-col min-w-40 flex-1">
      <select id="semesterSelect" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#141414] focus:outline-0 focus:ring-0 border border-[#dbdbdb] bg-neutral-50 focus:border-[#dbdbdb] h-14 bg-[image:--select-button-svg] placeholder:text-neutral-500 p-[15px] text-base font-normal leading-normal" disabled>
        <option value="">Select Semester</option>
        <option value="1st">1st</option>
        <option value="2nd">2nd</option>
      </select>
    </label>
    <label class="flex flex-col min-w-40 flex-1">
      <select id="courseSelect" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#141414] focus:outline-0 focus:ring-0 border border-[#dbdbdb] bg-neutral-50 focus:border-[#dbdbdb] h-14 bg-[image:--select-button-svg] placeholder:text-neutral-500 p-[15px] text-base font-normal leading-normal" disabled>
        <option value="">Select a Course</option>
        {% for course in courses %}
        <option value="{{ course.id }}">{{ course.name }}</option>
        {% endfor %}
      </select>
    </label>
  </form>
  <h2 id="topicsHeader" class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5" style="display: none;">Available Topics</h2>
  <div class="flex flex-col gap-2" id="topicsContainer"></div>
  <div id="commentContainer" class="px-4 py-3" style="display: none;">
    <p class="text-[#141414] text-base font-normal leading-normal pb-2">
      General remark on additional aspects that this course should address, not
      already covered by the previous topics.
    </p>
    <textarea
      id="courseComment"
      placeholder="Add general comments"
      class="form-input w-full max-w-[800px] resize-none overflow-hidden rounded-xl text-[#141414] focus:outline-0 focus:ring-0 border border-[#dbdbdb] bg-neutral-50 focus:border-[#dbdbdb] h-24 placeholder:text-neutral-500 p-[10px] text-base font-normal leading-normal"
    ></textarea>
  </div>
</div>
