<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900" />
  <title>Syllabus</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
</head>
<body>
  <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow">
      {% include 'sidebar.html' %}
      <div class="flex flex-col flex-1">
        <div class="px-10 flex flex-1 py-5">
          <div class="layout-content-container flex flex-col flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#111518] tracking-light text-[32px] font-bold leading-tight">Dependency tree</p>
                <p class="text-[#60768a] text-sm font-normal leading-normal">Hierarchical view of course dependencies.</p>
              </div>
            </div>
            <div id="tree" class="w-full h-full grow"></div>
            <script id="tree-data" type="application/json">{{ tree|tojson }}</script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='dependency_tree.js') }}"></script>
</body>
</html>
